<ion-header>
  <ion-toolbar>
    <ion-title>collection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Recent Conversations
    </ion-list-header>
    <div *ngFor="let billing of billings">
      <ion-item (click)="goDetail(billing)">
        <ion-avatar slot="start">
          <img [src]="getImgUrl(billing.sourceID) | async" />
        </ion-avatar>
        <ion-label>
          <p [ngClass]="billing.status">{{ billing.status }}</p>
          <h3>請求額：{{ billing.price }}</h3>
          <p>請求元：{{ getSourceName(billing.sourceID) | async }}</p>
        </ion-label>
        <ion-button
          *ngIf="billing.status != 'Paid'"
          (click)="updateStatus($event, billing, status.Paid)"
          >PAID</ion-button
        >
      </ion-item>
    </div>
  </ion-list>
</ion-content>
